body {
    background-color: #dedede;
    color: black;
}

p {
    font-family: Times New Roman, serif;
    font-size: 1.0em;
}

code {
    font-size: 0.9em;
    font-family: Consolas, monospace;
}
.CodeDecl {
    font-weight: bold;
}

.Warning {
    font-weight: bold;
}

.CodeSample {

    background-color: #c3c3c3;
    color: #000000;

    font-size: 0.8em;

    border: 2px solid #333333;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    vertical-align: middle;

    margin-bottom: 10px;

    display: inline-block;
}

.SectionDivider {
    margin-bottom: 50px;
}

.DeclarationList {
    border: 3px solid black;
    list-style-type: none;
}
.DeclarationList > li {

    border: 1px solid black;

    padding-left: 5px;

    margin-left: -30px;
    margin-right: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
}