h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.325em;
}
h3 {
    font-size: 1.1em;
}


body {
    background-color: #dedede;
    color: black;
}

p {
    font-family: Times New Roman, serif;
    font-size: 1.0em;
}

pre {
    font-size: 0.935em;
    font-family: Consolas, monospace;
}
code {
    font-size: 0.935em;
    font-family: Consolas, monospace;
    white-space: nowrap;
}
.CodeDecl {
    font-weight: bold;
    font-size: 0.92675em;
}

.Warning {
    font-weight: bold;
}

.CodeSample {

    background-color: #c3c3c3;
    color: #000000;

    font-size: 0.935em;

    border: 2px solid #333333;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 10px;

    vertical-align: top;

    margin-bottom: 10px;

    display: inline-block;
}

.SectionDivider {
    margin-bottom: 50px;
}

.DeclarationList {
    border: 3px solid black;
    list-style-type: none;

    min-width: 800px;
    display: inline-block;

    margin-top: -5px;
    margin-bottom: 15px;
}
.DeclarationList > li {

    border: 1px solid black;

    padding-left: 5px;

    margin-left: -30px;
    margin-right: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
}

TODO {
    color: red;
    font-size: x-large;
}

@media screen {
    .pun, .opn, .clo {
        color: #000;
    }
}


.TextSection {

    background: #cbcbcb;
    border: 2px solid black;
    padding: 8px;

    display: inline-block;
}

.TextSectionList {
}
.TextSectionList > li {

    margin-left: -10px;
    margin-right: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
}